---
#title: "2020 Talks" 
description: "2020."
date: 2022-01-27
lastmod: 2022-01-27
draft: false

---
<style>
    p {font-size: 16px;}
</style>

<h2 id="2020">2020 Events</h2>
<ul>
<li><p><strong>Southern California Linux Expo</strong>:</p>
<ul>
<li><a href="https://youtu.be/JB325PPmLNc" target="_blank">Confessions of a Sysamdin V2</a></li>
<li>Kubernetes 101 Workshop</li>
<li>Using Your Tech Skills To Save Lives</li>
</ul>
<br>
</li>
<li><p>Open Source Summit</strong>: <a href="https://youtu.be/ryM6Hae3l6w" target="_blank">Mentorship 101</a></p>
</li>
<li><p>DevSecOps Austin</strong>: <a href="https://youtu.be/WGiCO2u8JCg">The 5Ws of CTF</a></p>
</li>
<li><p>Bsides College Station: Confessions of a Sysadmin w/Allie Barnes </p>
</li>
<li><p>CSNP Invited Speaker: Is Linux Secure By Default?</p>
</li>
<li><p>Texas Cyber Summit- June&#39;gle:</strong> AWS Study Cram</p>
</li>
<li><p>Circle City Con:</strong> AWS Study Cram</p>
</li>
<li><p>All Day Devops- Spreak Break Edition</strong> The 5Ws of CTF</p>
</li>
<li><p>Bsides College Station:</strong> Confessions of a Sysadmin w/Allie Barnes</p>
</li>
<li><p>Alamo ISSA</strong>: Containers 101</p>
</li>
</ul>
<hr>
<h2 id="2020-talks-retired">2020 Talks - Retired</h2>
<p>Although these talks were given in 2020, their content is still relevant in the technology world. I will happily present them by request. </p>

<h3 id="confessions-of-a-sysadmin-v-2-0">Confessions of a Sysadmin v 2.0</h3>
<p>Abstract:</strong> Many of us in the technical community have heard the saying RTFM (Read The <em>Friendly</em> Manual) as advice given to someone learning Linux. In Confessions of a Sysadmin, Ell Marquez a will share the practical approach she used to learn to navigate the command line along with some of the secrets she has learned along the way.</p>
<p><strong>What can I expect to learn?</strong> As members of the tech community we have ALL experienced an awkward moment or two… or five. We will go on a journey together break down gates, having honest conversations and hiting a few painful points that we’ve experienced in our careers. From mansplaining and gate keeping to being told that real admins only use arch we will confess the sins of the Linux world in hopes of inspiring the next generation. Along the way we will tell a few stories that we think you <em>just</em> might be able to relate to...</p>
<p><strong>Note:</strong> Why is this v 2.0? It&#39;s been half a year since the creation of the original talk and I have learned some lessons along the journey of presenting this talk. Unfortunatlly Allie can not make every speaking arrangment I can so this updated version of Confessions of a Sysadmin allows for the story to continue.</p>
<p><strong>Slides at:</strong>
<a href="https://docs.google.com/presentation/d/1JIxdEhQ5NSvTgdMDKtQgtz3oTw6HsYNT4w7kKKzXbAU/edit?usp=sharing">Confessions of A Sysadmin</a></p>

<h3 id="mentoring-101">Mentoring 101</h3>
<p><strong>Abstract:</strong>
Ever been a Daniel in need of a Mr. Myagi? Are you ready to achieve greatness but with no real clue where to start? Finding a mentor is the first step, but knowing how to make the most of the time spent with your mentor makes the real difference. Join in on a conversation about identifying your person of influence and building a plan together from wax on, wax off to being carried away by the cheering crowd.</p>
<p>What can I expect to learn? There has been a push in our community to be active mentors. What is not explained, however, is how to foster a healthy and prosperous relationship that benefits both the mentor and the mentee. Together we will explore the different types of mentoring relationships, as well as setting goals, tracking progress, and getting the most out of these relationships. We will explore the types of mentoring relationships that exist. We will also learn how to set goals, track progress towards those goals and how to get the most out of a mentorship.</p>
<p><strong>Slides at:</strong> 
<a href="https://docs.google.com/presentation/d/1nf7rUk6DJY1SkKmG6sdCP5ZoUoHh45in6SNxbJIohbs/edit?usp=sharing" target="_blank">Mentoring 101</a></p>
<h3 id="aws-cloud-practitioner-study-cram">AWS Cloud Practitioner Study Cram</h3>

<p>Talk given with Christophe Limpalair from <a href="cybr.com" target="blank">Cybr</a></p>
<p><strong>Abstract:</strong> 
Getting started in tech can be a difficult process. We often feel we don&#39;t know enough to even know what we need to learn. Friends will recommend that we begin by seeking certifications to help us stand out in the job market, which is great, but what certification do you start with? The AWS Certified Cloud Practitioner examination is intended for individuals who are seeking the knowledge and skills necessary to effectively demonstrate an overall understanding of the AWS Cloud. During our study cram you will learn about the fundamentals of the AWS Cloud, along with building an outline of what you will need to study in order to build your cloud skills, and grow your professional credibility. This study cram is great for anyone looking to work with the AWS cloud. If you are looking for a place to start your journey or perhaps came to this conference with a friend or family member and would love to learn what in the world they are talking about, we have a place for you here.</p>
</ul>
</ol>
<p><strong>Slides at:</strong>
<a href="https://docs.google.com/presentation/d/1lxCYYHOONS-JDqCYSZYsFCOa7iv6kv7urW2Id07Ou_s/edit?usp=sharing" target="_blank" >AWS Study Cram</a></p>

<p style="font-size:14px; color:blue; font-weight:bold; text-align: right">
    <a href="../onceuponatime/index.html">Back to previous projects.</a>
    </p>
