---
#title: "IOTBN" 
description: "It's Okay To Be New"
date: 2022-01-30
lastmod: 2022-01-30
draft: false
---
<p><strong><em>This blog was originally published on:</em></strong> Linux Academy </p>
<p>Hi everyone, I’m Ell Marquez, also known as ell_o_punk in the OpenStack and Twitter worlds.  I am one of the new hires here at Linux Academy and will be taking on the role of <strong>Tech Evangelist</strong>. At this point, you might be wondering, “What in the world does that mean?” Well, it means that I am here to ensure that everyone has a chance to hear about what Linux Academy has to offer. I’ll be at conferences answering questions at the Linux Academy booth, presenting workshops, talks, or participating in panel discussions.  Most importantly, to me, advocating for every person who is starting their career in the technology industry. (Oh, and don’t let me forget that I’ll also be handing out swag to anyone who finds Pinehead and me!) </p>
<p>As excited as I am about getting to be out there and interacting with all of you, it’s important for me to note that I will not only be working only as a Technical Evangelist but also as a Training Architect. I will help create new content for Linux Academy in the realm of container services. </p>
<p>Now, usually this is where I would tell you all about my work experience and my certifications.  We do this in the industry to establish credibility, the “why should you listen to me ” section. However, I have always gone through life following a different path, so why should this be any different? Instead, I am going to invite you on a journey with me. Over the next few weeks, I will be working on an essentials course for container technologies. Yes, I will be basing the course on some of what I already know, however, much of it will come from new research, testing, and doing what any good Linux enthusiast does, …<strong>breaking things.</strong> </p>
<p>I don’t know about you, but I don’t like to journey alone, so I have decided to blog throughout this process in order to let you all see what goes on behind the scenes. My goal is to give the community an opportunity to know that we all work for our knowledge and this technology comes naturally to very few people. No one should ever feel that they are too new, do not know enough, or will never get to the point where they feel comfortable working with any technology. I think we should all remember that at some point in our careers everyone in this field has been new, and if we continue to grow and adapt with the technology sector the feeling of being new never goes away. What I would like to inspire is for the feeling of being new not to be something that is dreaded. I want you to feel excited at the concept, and to some degree, I’d like you to chase that feeling. <strong>It’s okay to be new</strong>, it’s okay to not know something, and you know what, <strong>it’s okay to break things!</strong> What’s not okay is to give up because we are afraid of being the new kid, or to give up because we are embarrassed to ask questions, or even to give up before we have tried because we are afraid to fail. In failure, we find the lessons and paths that will lead us to our success.</p>
<p>So join me in the next few weeks as I hit the books, go through the container courses we have here at Linux Academy, and maybe even break a few things. What can you do to help?  Let’s make this experience a conversation; not just updates from me to you.</p>
<p> Do you have a great lab idea for me to try? Do you have a question that you have always been afraid to ask?  Is there a topic you have wanted to hear about at conferences only to be let down when the speaker did not go into it? This week I’ll be working with Linux namespaces, and then I’ll be following up with delving into LXC and LXD, so make sure you comment below and get your questions in!</p>
<p>See you on the other side!</p>

<p style="font-size:14px; color:blue; font-weight:bold; text-align: right">
    <a href="../writing/index.html">Back to blogposts.</a>
    </p>
</head>
</html>