---
#title: "2021 Talks" 
description: "2021"
date: 2022-01-27
lastmod: 2022-01-27
draft: false

---
<style>
    p {font-size: 16px;}
</style>

<h2 id="2021">2021</h2>
<ul>
<h1 id="speaking-engagments">Speaking Engagments</h1>

Please note that the year got away from me, so this page will be updated soon with October to December events.
<ul>
<li><p><strong>SANS:</strong>: <a href="https://www.sans.org/webcasts/challenges-incident-response-teams-face-and-how-to-solve-them/" target="_blank">Challenges Incident Resposne Teams Face and How To Solve them</a></p>
</li>   
<li><p><strong>Screaming In The Clouds</strong>: <a href="https://www.lastweekinaws.com/podcast/screaming-in-the-cloud/security-can-be-more-than-hues-of-blue-with-ell-marquez/"target="_blank"> Security Can Be More Than Hues Of Blue With Ell Marquez</a></p>
</li>
<li><p><strong>Career Notes</strong>: <a href="https://youtu.be/EBNpLbBSbPc" target="_blank">Ell Marquez: It&#39;s Okay To Be New</a></p>
</li>
<li><p><strong>CyberWire-X</strong>: <a href="https://thecyberwire.com/podcasts/cyberwire-x/15/notes" target="_blank">APTs Transitioning to the Cloud</a></p>
</li>
<li><p>OpCompass Colaboration</p>
</li>
<li><p>Texas Cyber Summit - First Contact with Container Security Part 4 </p>
</li>
<li><p>Sector - The Attacker is in the House</p>
</li>
<li><p>Bsides DFW - First Contact with Container Security Part 3</p>
</li>
<li><p><strong>Cloud Engineering Summit 2021</strong>: <a href="https://youtu.be/vzb70EvK51o" target="_blank">Managed Panel</a></p>
</li>
<li><p><strong>Grrcon</strong>: Apts Transition to the Cloud</p>
</li>
<li><p><strong>BsidesCTL</strong>: <a href="https://youtu.be/2xoZViF9KYQ" target="_blank">The Missing Piece of Cloud Security</a></p>
</li>
<li><p><strong>BsidesCTL</strong>: <a href="https://youtu.be/diBDcIUBVTg" target="_blank">A Muggles Guide To Security In The Cloud v3</a></p>
</li>
<li><p><strong>Bsides RDU</strong>: <a href="https://www.youtube.com/watch?v=aL4chmkkW4U" target="_blank">First Contact With Container Security V2</a></p>
</li>
<li><p><strong>SANS</strong>: <a href="https://www.sans.org/webcasts/first-contact-container-security-resistance-futile-118415/" target="_blank">First Contact with Container Security v1 w/ Jake Williams</a></p>
</li>
<li><p><strong>Devops Days Texas</strong>: <a href="https://youtu.be/AvuWHRPqcCA?t=21698" target="_blank">Keynote - How Hackers Saved My Life</a></p>
</li>
<li><p><strong>Bsides Nova</strong>: <a href="https://www.youtube.com/watch?v=q3TsY_6SA6A" target="_blank">How Hackers Saved My Life</a></p>
</li>
<li><p><strong>CHIWITCON</strong>: <a href="https://youtu.be/JB325PPmLNc" target="_blank">It&#39;s Okay To Be New: How Hackers Saved My Life</a></p>
</li>
<li><p><strong>SOCSTOCK:</strong>: <a href="https://event.socstock2021.com/#/login" target="_blank">Purple Haze</a></p>
</li>
<li><p><strong>Bright Talk:</strong>: <a href="https://www.brighttalk.com/webcast/13279/513493" target="_blank">Leveraging the Assume Breach Mentality</a></p>
</li>
<li><p><strong>Bright Talk:</strong>: <a href="https://www.brighttalk.com/webcast/17475/453084" target="_blank" >Is Linux Secure By Default</a></p>
</li>
<li><p><strong>Bright Talk:</strong>: <a href="https://www.brighttalk.com/webcast/9923/458646?" target="_blank"> A Wizards Guide to Security in the Cloud</a></p>
</li>
<li><p><strong>Bright Talk:</strong>: <a href="https://www.brighttalk.com/webcast/17475/467005?" target="_blank">Defense Against The Dark Arts</a></p>
</li>
<li><p><strong>Bright Talk:</strong>: <a href="https://www.brighttalk.com/webcast/17475/489939?" target="_blank">Does Container Security Have To Be That Hard?</a></p>
</li>
<li><strong>Bright Talk:</strong>: <a href="https://www.brighttalk.com/webcast/13279/482245" target="_blank">Without a Trace: The Dangers Of Fileless Malware in the Cloud</a></p>
</li>    
    
<li><p><strong>Bright Talk:</strong>: <a href="https://www.brighttalk.com/webcast/17475/479371" target="_blank">Container Security: Attack and Defend Trends</a></p>
</li>

<li><p><strong>ISF Guest Speaker:</strong>: <a href="https://www.brighttalk.com/webcast/288/457270" target="_blank">Cloud Security for Muggles</a></p>
</li>
<li><p><strong>Devops Days Houston:</strong> Shift Left Security Concerns: DevSecOps is Pronounced Devops - The Sec is Silent</p>
</li>
<li><p><strong>Sector:</strong> The Missing Piece of Cloud Security v2</p>
</li>
</ul>

<h2 id="2021-talks">2021 Talks</h2>
<p>Talks have now been retired, however are available upon request. </p>
<h4 id="apt-transition-to-the-cloud">APT Transition to the Cloud</h4>
<p><strong>Abstract</strong>: Every day, wars are being waged on an invisible battlefield. The enemy is hiding and stealthily leveling its attacks from within. This formidable foe isn’t an opposing army. Instead, it may very well be a single malicious actor or a state-sponsored group of hackers.
Attackers are now investing more time and effort into creating malware tailored to Linux environments. The best-case scenario outcome of a successful attack is a tarnished reputation; the worst, significant (and potentially irreparable) damage to a brand and its business.
This presentation will focus on the techniques attackers use to transition traditional tools and create malware tailored to Linux and cloud environments. And, of course, the solution to how to change our security approaches to address the continuously changing threat landscape.</p>
<h4 id="without-a-trace-the-dangers-of-fileless-malware-in-the-cloud">Without a Trace: The Dangers of Fileless Malware in the Cloud</h4>
<p><strong>Abstract:</strong> Every day, wars are being waged on invisible battlefields. The enemy is hiding and stealthily leveling its attacks from within. This formidable foe isn’t an opposing army. It may very well be a single malicious actor, or a state-sponsored group of hackers. Without a trace of their tools left on the disk, attackers are storing the code in memory–resulting in infamous Fileless Malware. If successful, the best case scenario outcome is a tarnished reputation; the worst, significant (and potentially irreparable) damage to a brand and its business.</p>
<h4 id="-the-call-is-coming-from-inside-the-house-">&quot;The call is coming from inside the house.&quot;</h4>
<p><strong>Abstract:</strong> Migrating to the cloud brings a new set of challenges, from new vulnerabilities to a constantly changing attack surface. These challenges are a juicy target for attackers. After all, an attackers&#39; goal is simple: establish where our weaknesses are and exploit them.</p>
<p>Companies have to successfully defend themselves from hundreds, if not thousands, of attacks. They now face the need to understand which of the dozens of cloud security solutions can best be implemented to keep attackers out of their data&#39;s home. But what happens when an attacker has breached our defenses? What happens when the call [attack] is coming from our data&#39;s home?  </p>
<h4 id="how-hackers-saved-my-life">How Hackers Saved My Life</h4>
<p><strong>Abstract:</strong> Starting in Security, the motto that got me through was, &quot;It&#39;s Okay To Be New.&quot; Though I’ll tell you a secret, which is that I didn&#39;t always believe it. I was new at Dev, Sec, and even Ops! I felt the motto should have been, &quot;The impostor is strong in this one.&quot; </p>
<p>Although the journey has not been easy, the more I learn, the stranger the journey becomes. Why? Because the principles I 
am learning:  visibility, code reuse and yes, even social engineering, helped me see beyond the unknown and find my path. 
Even more surprising, the help I needed most came from those who we have been taught to fear.</p>
<p>While &quot;How Hackers Saved My Life&quot; may sound like an exaggeration, the truth is that it may be an understatement. Join us as we explore how our lives are a series of functions that we execute in an endless loop. And how you can hack the code for a better life, a better career, and a better community. You don’t have to get unplugged to be Neo.</p>
<h4 id="first-contact-with-container-security">First Contact with Container Security</h4>
<p><strong>Abstract:</strong> Every day, wars are being waged on invisible battlefields. The enemy is hiding and stealthily leveling its attacks from within. This formidable foe isn’t an opposing army. It may very well be a single malicious actor, or a state-sponsored group of hackers. Without a trace of their tools left on the disk, attackers are storing the code in memory–resulting in infamous Fileless Malware. If successful, the best case scenario outcome is a tarnished reputation; the worst, significant (and potentially irreparable) damage to a brand and its business. </p>
<p>In the cloud companies are transitioning to the use of microservices at a rapid pace. While this model decreases time to market, it also increases supply chain security risk and lowers visibility. According to the Cloud Native Computing Foundation, 92% of companies surveyed are using containers in their production environments. It seems that when it comes to transitioning part of your cloud ecosystem, resistance is futile.</p>
<h4 id="to-the-left-to-the-left-now-dip-baby-dip-">To the Left, To the Left. Now Dip Baby Dip.</h4>
<p><strong>Abstract:</strong> The emergence of the cloud era has resulted in significant changes in the application development process.  Traditional monolithic application architectures have given way to more agile cloud-native applications. With this transformation, developers have a greater responsibility to own their code in development and production. However, as DevOps shifting left, the “roll” of security teams begins to dip.</p>
<p>The &quot;Shift Left&quot; movement is believed to ensure that security concerns are considered throughout the entire development process, not just before deployment. However, this transition&#39;s success is questionable at best.</p>
<p>Have we shifted too far left? </p>
<p>Join Ell Marquez to explore the relationship between development, operations, and security teams. Discussing how increased visibility from development onto runtime can help us all boot scootin’ boogy together. </p>
<h4 id="a-muggles-guide-to-security-in-the-cloud">A Muggles Guide to Security In The Cloud</h4>
<p><strong>Abstract:</strong> In the security and technology world, we rely so heavily on buzz words to explain our work that others feel like we are magicians working spells that they will never be able to do.</p>
<p>Saying, &quot;Due to issues with our security posture, the APT manipulated a well-known CVE to breach our 
cloud-native-applications.&quot; Might as well be: &quot;The Death Eaters were able to use a port key to enter our environment and 
effectively cast the Avada Kedavra spell.&quot;</p>
<p>Instead, we could say, &quot;An attacker used a known flaw to gain access to our environment and brought down our servers.&quot;</p>
<p>In this session, we will come to understand that security for our cloud environments can be simple to understand, yes even for muggles. That is, if we focus on the root cause of all cyber attacks: unauthorized spells, wait, I mean unauthorized code.</p>
<h4 id="a-wizards-guide-to-security-in-the-cloud">A Wizards Guide to Security in the Cloud</h4>
<p><strong>Abstract:</strong> A Horcrux is a powerful object in which a Dark wizard or witch <strong>[attacker]</strong> has hidden a fragment of his or her soul <strong>[code]</strong> for the purpose of attaining immortality <strong>[persistence.]</strong></p>
<p>Creating a Horcrux gives one the ability to anchor their own soul <strong>[code]</strong> to earth <strong>[environment]</strong>, if the body <em>[process]*</em> is destroyed.</p>
<p>In this session, we will come to understand how attackers are able to not only compromise our cloud environments but also maintain persistence—while our security teams are distracted by a mountain of false alerts. If we focus on the root cause of all cyber attacks: unauthorized spells, wait, I mean unauthorized code.</p>
<h4 id="is-linux-secure-by-default-">Is Linux Secure by Default?</h4>
<p><strong>Abstract:</strong> The Linux operating system is secure by default because Windows is the most used operating system globally. Thus attackers create viruses and malware to target Windows systems. While cringe-worthy to read, these are all real statements being touted in the technology sector. This is a false narrative that is still frequently touted in the technological world.</p>
<p>This talk will highlight the common myths proliferated around the Linux operating system. As well as how they are endangering companies&#39; production environments, and steps companies can take to mitigate the new techniques attackers are using to benefit from these myths.</p>

<p style="font-size:14px; color:blue; font-weight:bold; text-align: right">
    <a href="../onceuponatime/index.html">Back to previous projects.</a>
    </p>
