{{ block "main" .}}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">Page not found :(</h1>
      <img src="error_404.jpg">
      <h1 id="title"><a href="{{ "/" | relURL }}">Go back to Ell's website</a></h1>
  </div>
</div>
{{ end }}