{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}

  <html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    </style>
    </head>
    
  <img src="ellcookie.jpeg" class="center" style="width:30%;">

  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
       
        <div class="col-lg-5">
          <h2 class="h4";> <a href="aboutme"> About Me</a></h2>
          <p> We may never honestly know a person, but it doesn't me we shouldn't try.</p>
        </div>

        <div class="col-lg-5">
          <h2 class="h4"> <a href="goals">My Goals</a> </h2>
          <p>May I never stop dreaming.</p>  
        </div>

        <div class="col-lg-5">
          <h2 class="h4"> <a href="currentprojects">Current Projects⚡️</a></h2>
          <p>You can't reach for anything new if your hands are still full of yesterday's junk.</p>
        </div>

      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4"> <a href="resources">Resources</a></h2>
          <p>Did you attend one of my presentations and are looking for further resources? Then this is the rabbit hole for you.</p>
        </div>

        <div class="col-lg-5">
          <h2 class="h4"> <a href="onceuponatime">Past Projects</a></h2>
          <p>What can I say? It's been an adventure!</p>
        </div>

        <div class="col-lg-5">
          <h2 class="h4"> <a href="podcasting">Podcasting</a></h2>
          <p>What can I say? It's been an adventure!</p>
        </div>

        <div class="col-lg-5">
          <h2 class="h4"> <a href="writing">Blog Posts</a></h2>
          <p>I hope to go back to blog writing soon.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
