---
#title: "About"
description: "All About Me."
date: 2022-01-27
lastmod: 2022-01-27
draft: false
images: []
---


<h1>Who is Ellopunk?</h1>

<p>Scientific Hooligan, creator of the “It’s Okay To Be New” campaign. A proud advocate for Hacking Is Not A Crime and Operation Safe Escape.

I’m living my bliss diving down the rabbit hole of the world of malware research at Intezer

In the end, I’m just a simple girl happily lost in the world of technology. This is where I document my adventures in learning.</p>
