---
#title: "Podcasting" 
description: "2020."
date: 2022-01-27
lastmod: 2022-01-27
draft: false

---
<style>
    p {font-size: 16px;}
</style>

<h1 id="podcast-appearances">Podcast Appearances</h1>

<ul>

<li><p><strong>Screaming in the Cloud</strong>:<a href="https://share.transistor.fm/s/11e8c579">Security Can Be More than Hues of Blue with Ell Marquez</a></li>

<li><p><strong>Career Notes</strong>: <a href="https://youtu.be/EBNpLbBSbPc">Ell Marquez: It&#39;s Okay To Be New</a></p>
</li>
<li><p><strong>CyberWire-X</strong>: <a href="https://thecyberwire.com/podcasts/cyberwire-x/15/notes">APTs Transitioning to the Cloud</a></p>
</li>
<li><p><a href="https://podcasts.apple.com/us/podcast/ep97-how-to-keep-your-skill-set-fresh-ell-marquez-christophe/id1215105578?i=1000464286143">Cloud Unfiltered</a></p>
</li>
<li><p><a href="https://www.youtube.com/watch?v=FuVX5yJvl1M">Linux Spotlight-EP07</a></p>
</li>
<li><p><a href="https://fireside.fm/s/WUDzse_C+ZYlw3wfp">User Error (Stranger Distro Danger)</a></p>
</li>
<li><p><a href="https://fireside.fm/s/RUkczH-V+cdOLScyT">Linux Unplugged (Ell is for Linux)</a> and reoccuring guest as of Feb 2019.</p>
</li>
<li><p><a href="https://www.jupiterbroadcasting.com/129361/were-gonna-need-a-bigger-repo-linux-unplugged-288/">Linux Unplugged (Were gonna need a bigger repo)</a></p>
</li>
<li><p><a href="https://latenightlinux.com/late-night-linux-episode-56/">Late Night Linux (Episode 56)</a></p>
</li>
<li><p><a href="https://github.com/JupiterBroadcasting/CommunityNotes/blob/master/yaml_essentials/yaml_notes.md">Jupitar Broadcastings Yaml Study Group</a></p>
</li>
<li><p><a href="https://www.jupiterbroadcasting.com/131906/mic-and-coke-the-friday-stream-6/">The Friday Stream</a></p>
</li>
<li><p><a href="https://www.meetup.com/jupiterbroadcasting/events/258602577/">Jupitar Broadcastings Linux Operating System Fundamentals Study Group</a></p>
</li>
<li><p><a href="https://anchor.fm/cyberspeakslive">CyberSpeaks Live</a></p>
<ul>
<li><p><a href="https://anchor.fm/cyberspeakslive/episodes/Offensive-Security-OSCP-Exam-Review-ei5ipe">Offensive Security OSCP Exam Review</a></p>
</li>
<li><p><a href="https://anchor.fm/cyberspeakslive/episodes/Mental-Health-in-InfoSec-with-Alethe-Denis-ehni9k">Mental Health in InfoSec with Alethe Denis</a></p>
<li><p><a href="https://www.listennotes.com/podcasts/cloud-unfiltered/ep97-how-to-keep-your-skill-iumMX6yE-h9/">How TO Keep Your Skill Set Fresh</a></p></li>
</li>
</ul>
</li>
</ul>

<p style="font-size:14px; color:blue; font-weight:bold; text-align: right">
    <a href="../onceuponatime/index.html">Back to previous projects.</a>
    </p>
